.container {
  /* position: relative; */
  margin-top:0;
  
  /* display:flex; */
  margin: 100px;
  margin-left: 0;
  margin-right: 0;
  
  /* justify-content: space-between; */
}

.titleGlobe {
  /* display: flex;
  justify-content: flex-end;  */

  /* position: relative; */
  margin-top: 10em;
  z-index: 5;
  margin-left: 125px;
}

.descriptionGlobe{
  /* padding: 15px; */
  position: relative;


  
  /* margin-left: 100%; */
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

.background {
  /* border: #53a5dc solid 0.3em;  */
  /* border-radius: 50px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
 
margin-right: 20px;
}

.globeText {
  width: 250px;
  margin-left: 100px;
}

.globeButton{
  margin-left: 98px;
  display: flex;
justify-content: center;
}

.image {
  position: absolute;
  display: flex;
  justify-content: center;
}

.globe {
  margin-top: 3.5em;
  margin-left: 6em;
}

.globe:hover {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }