.mode {
  /* margin-top: 100px;
  margin-left: 0; 
  margin-right: 90px; 
  margin-left: auto;*/
  /* margin-bottom: 200px; */
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
  width: 95%;

}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: rgb(240, 187, 89); */
  
}

.featuredTitle {
  display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 100px; */
    font-size: 3em;
    /* background-color: rgb(240, 187, 89); */
    height: 100px;
}