.mode {
  /* margin-top: 100px;
  margin-left: 0; 
  margin-right: 90px; 
  margin-left: auto;*/
  /* margin-bottom: 200px; */
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
  width: 80%;
  margin-left: 7%;

}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: rgb(240, 187, 89); */
  
}

.featuredTitle {
  display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 100px; */
    font-size: 3em;
    /* background-color: rgb(240, 187, 89); */
background-color: #f3f3f3;
top: 30px;
    margin-left: 1.8em;
    margin-right: 1.8em;
    margin-bottom:  20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 50px 0 rgba(0, 0, 0, 0.19)
}

.bottomLine {
  display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 100px; */
    font-size: 3em;
    /* background-color: rgb(240, 187, 89); */
    margin-bottom:  20px;
    margin-top: 50px;
    border-bottom: orange solid 0.25em;
    margin-left: 1.75em;
    margin-right: 1.75em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 50px 0 rgba(0, 0, 0, 0.19)
    
}