.container {
  position: relative;
  border: 2px solid red;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  /* margin: 100px; */
}

.backDoor
{
  background-color: #333;
  position:relative;
  width:300px;
  height:400px;
  border: 2px solid red;
  margin: 2em;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 0;
}

.door
{
  background-color: white;
  /* border: solid black; */
  position:absolute;
  top:0px;
  left:0px;
  width:300px;
  height:400px;
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-50deg);
}
